<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'about.title' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="about-layout">
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{ 'about.projectStatus.title' | translate }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        {{ 'about.projectStatus.body' | translate }}
      </ion-card-content>
    </ion-card>

    <ion-list inset="true">
      <ion-item>
        <ion-label>
          <h3>{{ 'about.plannedExtensions.title' | translate }}</h3>
          <p>{{ 'about.plannedExtensions.body' | translate }}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
