// For information on how to create your own theme, please refer to:
// https://ionicframework.com/docs/theming/

:root {
  --app-color-primary: #061c42;
  --app-color-primary-rgb: 6, 28, 66;
  --app-color-secondary: #b59260;
  --app-color-secondary-rgb: 181, 146, 96;
  --app-color-surface: #020d22;
  --app-color-surface-rgb: 2, 13, 34;

  --ion-color-primary: var(--app-color-primary);
  --ion-color-primary-rgb: var(--app-color-primary-rgb);
  --ion-color-primary-contrast: var(--app-color-secondary);
  --ion-color-primary-contrast-rgb: var(--app-color-secondary-rgb);
  --ion-color-primary-shade: #05183a;
  --ion-color-primary-tint: #1f3255;

  --ion-color-secondary: var(--app-color-secondary);
  --ion-color-secondary-rgb: var(--app-color-secondary-rgb);
  --ion-color-secondary-contrast: var(--app-color-primary);
  --ion-color-secondary-contrast-rgb: var(--app-color-primary-rgb);
  --ion-color-secondary-shade: #9f8054;
  --ion-color-secondary-tint: #bea16f;

  --ion-background-color: var(--app-color-primary);
  --ion-background-color-rgb: var(--app-color-primary-rgb);
  --ion-text-color: var(--app-color-secondary);
  --ion-text-color-rgb: var(--app-color-secondary-rgb);
  --ion-item-background: var(--app-color-surface);
  --ion-card-background: rgba(var(--app-color-primary-rgb), 0.92);
  --ion-toolbar-background:  var(--app-color-surface);
  --ion-toolbar-color: var(--app-color-secondary);
  --ion-tab-bar-background: var(--app-color-primary);
  --ion-tab-bar-color: rgba(var(--app-color-secondary-rgb), 0.74);
  --ion-tab-bar-color-selected: var(--app-color-secondary);
  --ion-border-color: rgba(var(--app-color-secondary-rgb), 0.24);
  --ion-color-step-50: #122851;
  --ion-color-step-100: #1d345f;
  --ion-color-step-150: #28406d;
  --ion-color-step-200: #344c7b;
  --ion-color-step-250: #3f5889;
  --ion-color-step-300: #4a6497;
  --ion-color-step-350: #5670a5;
  --ion-color-step-400: #617cb3;
  --ion-color-step-450: #6c88c1;
  --ion-color-step-500: #7894cf;
  --ion-color-step-550: #83a0dd;
  --ion-color-step-600: #8eaceb;
  --ion-color-step-650: #9ab8f9;
  --ion-color-step-700: #a5c4ff;
  --ion-color-step-750: #b0d0ff;
  --ion-color-step-800: #bbdcff;
  --ion-color-step-850: #c7e8ff;
  --ion-color-step-900: #d2f4ff;
  --ion-color-step-950: #ddffff;
}
